.app {
  text-align: center;
  align-items: center;     /* Vertically center */
  justify-content: center;
  background: linear-gradient(135deg, #dbeafe, #e0f2fe); /* Optional: Horizontally center */
}


.app h1 {
  font-size: 70px;
  
  text-align: center;
}
